.active{
  border-bottom: 2px solid rgb(73, 62, 62) !important;
}

/* Layout.css */
.layout-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar-container {
  /* Ajoutez des styles supplémentaires si nécessaire */
}

.content-container {
  flex: 1; /* Cela permet au contenu de prendre tout l'espace disponible */
  /* Ajoutez des styles supplémentaires si nécessaire */
}

.footer-container {
  /* Ajoutez des styles supplémentaires si nécessaire */
}
